<div id="menu-authenticated" class="flex items-center space-x-1 sm:space-x-4">
  <button id="nav-home-btn" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium border-b-2 border-blue-600 text-blue-600 whitespace-nowrap">
    Home
  </button>
  <button id="nav-projects-btn" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium border-b-2 border-transparent text-gray-500 hover:text-blue-600 whitespace-nowrap">
    Projekte
  </button>
  <button id="nav-users-btn" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium border-b-2 border-transparent text-gray-500 hover:text-blue-600 whitespace-nowrap">
    Neuen Benutzer anlegen
  </button>
  
  <span class="text-xs text-gray-400 font-mono pl-4">User: {{username}}</span>
  <button id="logout-btn" class="ml-4 py-1.5 px-3 inline-flex items-center gap-x-2 text-xs font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50">
    Abmelden
  </button>
</div>
